@import "../../style/Collapse.css";

/* Mobile */
/* Introduction of accomodation */
#intro{
    color: #FF6060;
    margin-top: 2%;
}

#intro-title{
    font-size: 18px;
    line-height: 142.6%;
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
}

#intro-location{
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 3%;
}

#tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.tag{
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 2%;
}

/* Host of accomodation with stars*/
#host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

#host-stars{
    width: 30%;
}

.star{
    width: 15px;
    height:15px;
    margin-right: 2%;
}

.star-red{
    fill: #FF6060;
}

.star-grey{
    fill: #E3E3E3;
}

#host-info{
    display: flex;
    align-items: center;
    width: 30%;
}

#host-info-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#host-info-name{
    font-size: 12px;
    margin: 0 10% 0 0;
    text-align: right;
}

/* Tablet */
@media screen and (min-width: 768px)
{
    /* Introduction of accomodation */
    #intro{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    #intro-title{
        width: 100%;
    }

    #tags {
        width: 110%;
        grid-template-columns: repeat(4, 1fr);
    }

    .tag{
        border-radius: 10px;
        padding: 5px;
    }

    /* Host of accomodation with stars*/
    #host{
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 15%;
        margin: 0;
    }

    #host-stars, #host-info{
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1280px)
{
    /* Introduction of accomodation */
    #intro-title{
        font-size: 36px;
    }

    #intro-location{
        font-size: 18px;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    #tags {
        width: 100%;
    }

    .tag{
        font-size: 14px;
    }

    /* Host of accomodation with stars*/
    #host{
        width: 14%;
    }

    .star{
        width: 30px;
        height: 30px;;
    }

    #host-info-picture{
        width: 64px;
        height: 64px;
    }

    #host-info-name{
        font-size: 18px;
    }

    /* Collapse */
    #accomodation-info{
        display: flex;
        justify-content: space-between;
    }

    .accomodation-info-details {
        width: 45%;
        margin-bottom: 0;
    }

    .accomodation-info-title, .accomodation-info-text {
        font-size: 18px;
    }

    .accomodation-info-title {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .accomodation-info-text {
        padding-top: 6%;
        padding-bottom: 5%;
    }

}

