@import "../../style/Collapse.css";

/* Mobile */
/* Introduction of accomodation */
#intro{
    color: #FF6060
}

#intro-title{
    font-size: 18px;
    line-height: 142.6%;
    margin-top: 2%;
    margin-bottom: 0;
    width: 90%;
}

#intro-location{
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.tag{
    font-size: 10px;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 2% 4% 2% 4%;
    margin-right: 3%;
}

/* Host of accomodation with stars*/
#host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

#host-stars{
    width: 30%;
}

.fa-star{
    font-size: 15px;
    margin-right: 2%;
}

.star-red{
    color: #FF6060;
}

.star-grey{
    color: #E3E3E3;
}

#host-info{
    display: flex;
    align-items: center;
    width: 30%;
}

#host-info-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#host-info-name{
    font-size: 12px;
    margin: 0 10% 0 0;
    text-align: right;
}

/* Tablet */
@media screen and (min-width: 768px)
{
    /* Introduction of accomodation */
    #intro{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    #intro-title{
        width: 100%;
    }

    #intro-location{
        margin-bottom: 2%;
    }

    .tag{
        border-radius: 10px;
        padding: 1% 2% 1% 2%;
        margin-right: 2%;
    }

    /* Host of accomodation with stars*/
    #host{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        width: 15%;
        margin: 0;
    }

    #host-stars{
        width: 100%;
    }

    #host-info{
        margin-top: 10%;
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1280px)
{
    /* Introduction of accomodation */
    #intro-title{
        font-size: 36px;
    }

    #intro-location{
        font-size: 18px;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    .tag{
        font-size: 14px;
        border-radius: 10px;
    }

    /* Host of accomodation with stars*/
    #host{
        width: 13%;
    }

    #host-stars{
        width: 100%;
    }

    #host-info{
        margin-top: 15%;
        width: 100%;
    }

    .fa-star{
        font-size: 25px;
    }

    #host-info-picture{
        width: 64px;
        height: 64px;
    }

    #host-info-name{
        font-size: 18px;
    }

    /* Collapse */
    #accomodation-info{
        display: flex;
        justify-content: space-between;
    }

    .accomodation-info-details {
        width: 45%;
        margin-bottom: 0;
    }

    .accomodation-info-title, .accomodation-info-text {
        font-size: 18px;
    }

    .accomodation-info-text {
        padding-top: 6%;
    }

}

