/* Mobile */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    background-color: #000000;
}

#footer-logo{
    width: 122px;
    height: 40px;
    margin-top: 50%;
    filter: brightness(300%)
}

footer p {
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 6%;
    margin-bottom: 0;
}


/* Desktop */
@media screen and (min-width: 1280px)
{
    footer p {
        font-size: 24px;
        margin-top: 3%;
    }
}